<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<!--Establecemos la barra de navegación-->
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="radio-inline"> 
           
            <a class="navbar-brand" (click)="myFunction()">
              <img width="30px" length="30px" src="http://karlcode.owtelse.com/images/avocado_logo_colour_stacked.png">
            </a>

          </div>
        </div>
        <ul class="nav navbar-nav radio-inline">
          <li><a class="tablinks" (click)="openCity(event, 'home')">Home</a></li>
          <li><a class="tablinks" (click)="openCity(event, 'Buscador')">Buscador</a></li> 
        </ul>
      </div>
  </nav>
<!--Empieza la pestaña de HOME-->
    <div id ="home" class="tabcontent">
        <h1 style="text-align: center; padding-top: 8%"><b><font size=7>Aplicación gestora de Base de Datos</font></b></h1>
        <div class="row col-sm-20" style="padding-left: 20%; padding-top: 5%">
        <p class="col-sm-10" ><font size=5> Este servicio proporciona los tiempos de ejecución de una serie de consultas con el objetivo de averiguar qué gestor y versión es el mejor para la consulta dada.</font>
        </p>
      </div>

      <div style="padding-left: 35%; padding-top: 5%">
            <button type="button" class=" btn btn-primary btn-lg btn-block col-sm-6" (click)="openCity(event, 'Buscador')">Buscador</button>
      </div>
        
    </div>


<!--Acaba la pestaña de HOME-->
   <div id="Buscador" class="tabcontent">
    <div class="container app">
      <div class="row col-sm-15">
         <!--FORM de BUSQUEDA-->
    <form  #petitionForm="ngForm">
      <div class="panel panel-primary">
      <div class="row">
      <div class="panel">
        <div >
          <h2 style="text-align: center;font-family: Georgia;">Columnas</h2>
        </div>
        <div class="panel-body">
          <!-- Insertar el numero de las columnas-->
          <div class="form-group">
            <label for="colNum">Numero de Columnas</label>
            <input id="colNum" name="colNum" [(ngModel)]="colNum" type="text" >
          </div>
          <h3 style="text-align: center;"><b>SELECT</b></h3>
           <!-- Insertar campos para el numero de las columnas-->
          <div *ngIf="colNum==1 || colNum==2 || colNum==3 || colNum==4 || colNum==5 || colNum==6">
            <label for="nom1">Nombre de columna 1</label>
            <input id="nom1" name="nom1" [(ngModel)]="nom1" type="text" >
          </div>
          <div *ngIf="colNum==2 || colNum==3 || colNum==4 || colNum==5 || colNum==6">
            <label for="nom2">Nombre de columna 2</label>
            <input id="nom2" name="nom2" [(ngModel)]="nom2" type="text" >
          </div>
          <div *ngIf="colNum==3 || colNum==4 || colNum==5 || colNum==6">
            <label for="nom3">Nombre de columna 3</label>
            <input id="nom3" name="nom3" [(ngModel)]="nom3" type="text" >
          </div>
          <div *ngIf="colNum==4 || colNum==5 || colNum==6">
            <label for="nom4">Nombre de columna 4</label>
            <input id="nom4" name="nom4" [(ngModel)]="nom4" type="text" >
          </div>
          <div *ngIf="colNum==5 || colNum==6">
            <label for="nom5">Nombre de columna 5</label>
            <input id="nom5" name="nom5" [(ngModel)]="nom5" type="text" >
          </div>
          <div *ngIf="colNum==6">
            <label for="nom6">Nombre de columna 6</label>
            <input id="nom6" name="nom6" [(ngModel)]="nom6" type="text" >
          </div>    
        </div>       
      </div>
<!--Estas son el números d etablas que vamos a tenr-->
       <div class="panel">
        <div >
          <h2 style="text-align: center; font-family: Georgia;">Tablas</h2>
        </div>
        <div class="panel-body">
          <!-- Insertar el numero de las columnas-->
          <div class="form-group">
            <label for="tabNum">Número de tablas</label>
            <input id="tabNum" name="tabNum" [(ngModel)]="tabNum" type="text" >
          </div>
          <h3 style="text-align: center;"><b>FROM</b></h3>
           <!-- Insertar campos para el numero de las columnas-->
          <div *ngIf="tabNum==1 || tabNum==2 || tabNum==3 || tabNum==4 || tabNum==5 || tabNum==6">
            <label for="tab1">Tabla 1</label>
            <input id="tab1" name="tab1" [(ngModel)]="tab1" type="text" >
          </div>
          <div *ngIf="tabNum==2 || tabNum==3 || tabNum==4 || tabNum==5 || tabNum==6">
            <label for="tab2">Tabla 2</label>
            <input id="tab2" name="tab2" [(ngModel)]="tab2" type="text" >
          </div>
          <div *ngIf="tabNum==3 || tabNum==4 || tabNum==5 || tabNum==6">
            <label for="tab3">Tabla 3</label>
            <input id="tab3" name="tab3" [(ngModel)]="tab3" type="text" >
          </div>
          <div *ngIf="tabNum==4 || tabNum==5 || tabNum==6">
            <label for="tab4">Tabla 4</label>
            <input id="tab4" name="tab4" [(ngModel)]="tab4" type="text" >
          </div>
          <div *ngIf="tabNum==5 || tabNum==6">
            <label for="tab5">Tabla 5</label>
            <input id="tab5" name="tab5" [(ngModel)]="tab5" type="text" >
          </div>
          <div *ngIf="tabNum==6">
            <label for="tab6">Tabla 6</label>
            <input id="tab6" name="tab6" [(ngModel)]="tab6" type="text" >
          </div>
        </div>
      </div>
<!--Aquí van los números de condiciones que vamos a introducir-->
        <div class="panel">
        <div >
          <h2 style="text-align: center;font-family: Georgia;" >Condiciones</h2>
        </div>
        <div class="panel-body">
          <!-- Insertar el numero de las columnas-->
          <div class="form-group">
            <label for="condNum">Número de condiciones</label>
            <input id="condNum" name="condNum" [(ngModel)]="condNum" type="text" >
          </div>
          <h3 style="text-align: center;"><b>WHERE</b></h3>
           <!-- Insertar campos para el numero de las columnas-->
          <div *ngIf="condNum==1 || condNum==2 || condNum==3 || condNum==4 || condNum==5 || condNum==6">
            <label for="cond1">Condición 1</label>
            <input id="cond1" name="cond1" [(ngModel)]="cond1" type="text" >
          </div>
          <div *ngIf="condNum==2 || condNum==3 || condNum==4 || condNum==5 || condNum==6">
            AND
            <label for="cond2">Condición 2</label>
            <input id="cond2" name="cond2" [(ngModel)]="cond2" type="text" >
          </div>
          <div *ngIf="condNum==3 || condNum==4 || condNum==5 || condNum==6">
            AND
            <label for="cond3">Condición 3</label>
            <input id="cond3" name="cond3" [(ngModel)]="cond3" type="text" >
          </div>
          <div *ngIf="condNum==4 || condNum==5 || condNum==6">
            AND
            <label for="cond4">Condición 4</label>
            <input id="cond4" name="cond4" [(ngModel)]="cond4" type="text" >
          </div>
          <div *ngIf="condNum==5 || condNum==6">
            AND
            <label for="cond5">Condición 5</label>
            <input id="cond5" name="cond5" [(ngModel)]="cond5" type="text" >
          </div>
          <div *ngIf="condNum==6">
            AND
            <label for="cond6">Condición 6</label>
            <input id="cond6" name="cond6" [(ngModel)]="cond6" type="text" >
          </div>
        </div>
      </div>
      <div>
      	<!--Aquí poner en un futuro las distintas DB que queremos buscar-->
      </div>
    </div>
    <div class="row panel panel-footer" style="padding-left: 150px">
      <div style="padding-right: 80px">
        <input type="radio" value="mysql"  name="bd" [(ngModel)]="bd" > MySql
        <input type="radio" value="psql" name="bd" [(ngModel)]="bd"> PSQL
        <input type="radio" value="mariadb" name="bd" [(ngModel)]="bd"> MariaDB
        <input type="radio" value="XML" name="bd" [(ngModel)]="bd"> XML
        <input type="radio" value="mongodb" name="bd" [(ngModel)]="bd"> MongoDB
      </div>
      <div class="form-group">
      <button class="btn btn-secondary" (click)="apareceGroup()">Group by</button>
      <div [hidden]="ocultaGroupBy">
        <input  style="margin-left: 100px" id="groupBy" name="groupBy" [(ngModel)]="groupBy" type="text" >  
      </div>

   
  </div>
      <button type="submit" (click)="savePetition(petitionForm)" class="btn btn-primary" style="margin-left: 40px">Crear consulta</button>

    </div>
  </div>
</form>
<!-- Pasamos a hacer la tabla -->
<div class="row">
  <div class="tabla ">
    <h2 class= "tit-tabla">Datos introducidos</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Numero de Columnas</th>
            <th>Columnas</th>
            <th>Numero de tablas</th>
            <th>Tablas</th>
            <th>Numero de condiciones</th>
            <th>Condiciones</th>
            <th> Group by</th>
            <th>Base de Datos</th>
            <div [hidden]="mostrarResul">
              <th>Tiempos</th>
            </div> 
          </tr>
            </thead>
              <tbody>
               <tr *ngFor="let petit of petition; let i = index " >
                 <td>{{petit.colNum}}</td>
                 <td>{{petit.nom1}} {{petit.nom2}} {{petit.nom3}} {{petit.nom4}} {{petit.nom5}} {{petit.nom6}}</td>
                 <td>{{petit.tabNum}}</td>
                 <td>{{petit.tab1}} {{petit.tab2}} {{petit.tab3}} {{petit.tab4}} {{petit.tab5}} {{petit.tab6}}</td>
                 <td>{{petit.condNum}}</td>
                 <td>{{petit.cond1}} {{petit.cond2}} {{petit.cond3}} {{petit.cond4}} {{petit.cond5}} {{petit.cond6}}</td>
                 <td>{{petit.groupBy}}</td> 
                 <td>{{petit.bd}}</td>
                 <div [hidden]="mostrarResul">
                 <td style="width: 40px;">{{tiempos[i]}}</td> 
                 </div>
                 <td>
                  <div class="btn-group">
                     <a (click)="deletePetition(i)" class="btn btn-danger"> Borrar  </a>
                  </div>
                </td>
                 
                </tr>
             </tbody>
           </table>
        </div>
      </div>
    </div>
  </div>
        
<div class="row" style="padding-left: 700px">
	<div class="form-group">
	  <button (click)="enviarPost()" class="btn btn-primary">Send petitions</button>
	  <button (click)="limpiar()" class="btn btn-secondary">Clean</button>
	<div>
</div>


        
